.header{
    color: white;
    background-color: purple;
    text-align: center;
    margin: 0rem;
    padding: 10px;
}

.form-container{
    margin-top: 80px;
    text-align: center;
}


input{
    margin : 15px auto;
    border-radius: 10px;
    height: 25px;
    text-align: center;
    width: 15rem;
}

button{
    margin-top: 15px;
    padding: 15px;
    background-color: purple;
    font-weight: bold;
    color: white;
    font-size: 15px;
    border-radius: 10px;
}